* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(assets/tictactoe.jpeg);
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

p {
  padding: 10px;
}

.title {
  color:  black;
  justify-self: center;
}

.player-inputs {
  justify-items: center;
}

.btn-spot {
  justify-self: center;
}

.btn-spot > :first-child {
  color: blue;
  margin-top: 40px;
  padding: 10px;
}

.game-container {
  justify-content: center;
}

.board-div {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  background-color: grey;
  justify-self: center;
}

.space {
  transition: all 0.1s ease;
  background: none;
  width: 100%;
}

button:disabled {
  border: 1px solid #999999;
  color: black;
  background-color: #999999;  
}

.space:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

.space.noHover {
  pointer-events: none;
}

#turn-popup {
  border: none;
  color: green;
  padding: 20px;
}