* {
  margin: 0;
  padding: 0;
  justify-items: center;
}

body {
  margin-top: 10%;
  background-image: url(assets/tictactoe.jpeg);
  background-repeat:no-repeat;
  background-size: cover;
}

p {
  padding: 10px;
}

.title {
  color:  black;
}

.btn-spot > :first-child {
  color: blue;
  margin-top: 40px;
  padding: 10px;
}

.board-div {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  background-color: grey;
}

.space {
  transition: all 0.1s ease;
  background: none;
  width: 100%;
}

.space:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

#turn-popup {
  justify-self: center;
}